{% extends 'main.html' %} {% block content %} {% load static %}
<div id="div-servicos" class="border border-warning rounded" style="margin-top: 10px;">
    <h1>ABASTECIMENTOS POR VEICULO <text class="text-danger">{{veiculo.placa}}</text></h1>
    <form action="{% url 'cadastrar_abastecimento' %}" method="post" autocomplete="off">
        {% csrf_token %}
        <input type="text" hidden name="id" value={{veiculo.id}}>
        <input type="text" name="valor" placeholder="VALOR R$" required class="form-control-lg">
        <input type="date" name="data" required class="form-control-lg" placeholder="DATA">
        <button type="submit" class="btn btn-success form-control-lg font-weight-bold">ADICIONAR</button>
    </form>
    <div id="veiculos-cadastrados" class="container border border-secondary">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">VALOR</th>
                    <th scope="col">DATA</th>
                    <th>APAGAR</th>
                </tr>
            </thead>
            <tbody>
                {% for abastecimento in abastecimentos%}
                <tr>
                    <td>{{abastecimento.valor}}</td>
                    <td>{{abastecimento.data|date:'d/m/Y'}}</td>
                    <td>
                        <form action="{% url 'apagar_abastecimento' %}" method="post">
                            {% csrf_token %}
                            <input type="checkbox" class="col-sm-1" required> confirma

                            <input type="text" hidden name="veiculoplaca" value="{{veiculo.placa}}">
                            <input type="text" hidden name="abastecimentoid" value="{{abastecimento.id}}">
                            <button class="btn btn-danger">APAGAR</button></form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
<!--#{% url 'cadastrar_veiculo' %}-->